  body{
    padding: 0;
    margin: 0;
    background:url(https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
}


.temp{
    font-size: 100px;
    color:  #fff;
    text-shadow: 1px 1px 1px #111;
}

.card {
    background: transparent;
    box-shadow: inset 1px 1px 39px 1px #666;
}

.icon img{
    float: right;
    position: absolute;
    right: 0px;
    top: -25px;
    width: 157px;
}
.des {
    font-size: 30px;
}